<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceCenter_Connect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServiceCenter_Connect.Properties.Settings>
            <setting name="ServiceCenter_Connect_ServiceCenterWS_ServiceStudio" serializeAs="String">
                <value>http://10.166.113.37/ServiceCenter/ServiceStudio.asmx</value>
            </setting>
        </ServiceCenter_Connect.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
